<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portafolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">INICIO</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">SOBRE MÍ</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MIS HABILIDADES</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Vista previa -->
      <section class="main__home home" id="home">
        <h1 class="home__title">KEVIN FERNANDO CONDORI</h1>
        <p class="home__subtitle">WEB-DEVELOPER, PYTHON PROGRAMMER</p>
      </section>
      <!-- Acerca de mí -->
      <section class="main__about about" id="about">
        <h2 class="about__title">SOBRE MÍ</h2>
        <div class="about__info info-block">
          <p>
            Hola, soy KFC, Kevin F. Condori. Soy de Perú.
          </p>
          <p>
            Me gusta la programación, el fútbol (soy guardameta) y también escribir.
          </p>
          <p>
            Me gusta distinguir las partes visuales en la programación, como distinguir tipografías y colores.
          </p>
          <p>
            Disfruto aprender y mejorar procesos, especialmente cuando trabajo con Python.
          </p>
          <p>
            Una de las experiencias que más me gustó fue crear un juego propio, donde pude combinar elementos de dos de mis juegos favoritos.
          </p>
          <p>
            Me gustaría mejorar en matemáticas, porque sé que son una base importante para la programación.
          </p>
          <p>
            Lo que me gusta de mi profesor, es que explica muy bien y hace que las cosas se entiendan fácilmente. 😎
          </p>
          <p>
            En el futuro, me gustaría trabajar en algo relacionado con la tecnología y la programación. Estoy abierto a explorar diferentes áreas, pero tengo claro que quiero seguir creciendo en este camino.
          </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Sección de competencias -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_python" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_discord" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_html" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_db" value="SHOW PROJECT">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="project__link" href="">Abierto en GitHub</a>
          </div>
        {% endif %}
        {% if button_discord%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/discord-project.png" alt="project" width="500">
              <a class="project__link" href="">Abierto en GitHub</a>
          </div>
        {% endif %}
        {% if button_html%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/html-project.png" alt="project" width="500">
              <a class="project__link" href="">Abierto en GitHub</a>
          </div>
        {% endif %}
        {% if button_db%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/db-project.png" alt="project" width="500">
              <a class="project__link" href="">Abierto en GitHub</a>
          </div>
        {% endif %}
      </section>
      <!-- Formulario de contacto -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="/submit" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Comment"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
        {{ email }}
        {{ text }}
      </section>
    </main>
    <!-- Pie de página con enlaces a redes sociales -->
    <footer>

    </footer>
  </body>
</html>
